---
// Welcome to Astro!
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev Socks Site</title>
	</head>
	<body>
		<h1>Welcome to Dev Socks Site</h1>
		<p>This is an Astro site deployed on Netlify.</p>
	</body>
</html>
